body {
	margin: 0px;
	padding: 0px;
}
.nav-bar {
	border-bottom: 1px solid #e2e2e2;
	box-sizing: border-box;
    display: flex;
    height: 38px;
	justify-content: space-between;
    position: sticky;
	width: 100%;
}
#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 25%;
}
.space-cosmos a {
	color: black;
	font-size: 14.25px;
	font-weight: 700;
	text-decoration-line: none;
}
.brand-name {
	width: 195px;
	height: 20%;
}
.right-bars .search-icon {
	margin-right: 10px;
}
.top-buttons {
	align-items: flex-end;
	width: 196px;
}
.top-buttons button {
	border-radius: 3px;
	border: 1px solid #326891;
	cursor: pointer;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
}
.subscribe-now {
	background-color: #6288a5;
	font-size: 10px;
	height: 32px;
	width: 119px;
}
.login {
	background-color: #6288a5;
	font-size: 10px;
	height: 32px;
	width: 63px;
}
main {
	top: 50px;
	margin-bottom: 60px;
	position: relative;
}
main div {
	
}
.headline {
}
.headline div {
	font: inherit;
	font-size: 100%;
	margin-left: 20%;
}
#content-img {
	display: flex;
	justify-content: center;
}
#content-img img {
	height: 531px;
	width: 945px;
}
.footer-img {
	display: flex;
	justify-content: center;
}
.explanation-img {
	color:#666666;
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 15px;
	height: auto;
	line-height: 20px;
	text-align: left;
	width: 945px;
}
.main-content {
	display: flex;
	flex-direction: column;
    justify-content: center;
}
.article-parent {
	margin: auto;
	width: 60%;
}
.article-metadata {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
li {
	list-style: none;
}
.article-metadata ul li {	
}
.icons li a svg {
	background: #eee;
	border-radius: 50%;
	height: 15px;
	margin-top: 5px;
	margin-left: 20px;
	padding: 5px;
	width: 15px;
}
/* article stats here: */
.article {
	display: block;
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	justify-content: center;
}
#autor-nyt {
	color:#121212;
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 15px;
	letter-spacing: 0.3px;
	line-height: 20px;
	text-align: start;
}
.icons {
	display: flex;
	margin: 0px;
	justify-content: flex-end;
	padding: 0px;
}
p {
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 20px;
	line-height: 30px;
	text-align: start;
	color: #333333;
}
.video-stanford {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 80px;
}
iframe {
	height:358px;
	width:600px;
}

.video-stanford p {
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 15px;
	line-height: 20px;
	text-align: left;
	color: #666666;
	padding: 0;
	margin: 0;
}
.telescope-img {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 100px;
}
.telescope {
	display: flex;
	width:650px;
	height:350px;
}
.telescope-img p {
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 15px;
	line-height: 20px;
	text-align: left;
	color: #666666;
	padding: 0;
	margin: 0;
}
.footer-article {
	margin-bottom: 50px;

}
.footer-article p {
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 15px;
	line-height: 20px;
	text-align: left;
	color: #666666;
	padding: 0;
	margin: 0;
}
.footer-article p a{
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 15px;
	line-height: 20px;
	text-align: left;
	color: #666666;
	text-decoration: none;

}
.media-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.media-icons-list {
	display: flex;
	flex-direction: row;
	margin: 0px;
}
.media-icons {
	margin-left: 16px;
}
.useful-links {	
	display: flex;
	height:54px;	
	justify-content: space-around;
	margin-left: 0px;
	margin-right: 0px;	
	padding-top: 9px;
	width:100%;
}
.useful-links a {
	color: rgb(153, 153, 153);
	font-family: nyt-franklin, helvetica, arial, sans-serif;
	font-size: 11px;
	line-height: 11px;		
	text-decoration: none;
}
footer {
	display: flex;
	flex-flow: row wrap;
	background-color: rgb(51, 51, 51);
	border-bottom: 1px solid #e2e2e2;
	box-sizing: border-box;
	left: 0px;
	bottom: 0px;
    height: 38px;
    position: sticky;
	width: 100%;
	z-index: 99999;
	font-weight: bold;
}
.footer-link {
	display: flex;
	width: 25%;
	color: white;
	text-decoration: none;
	align-self: center;
	margin-left: auto;
	

}
.footer-bottom {
	display: flex;
	width: 15%;
	margin-left: auto;
	color: white;
	text-decoration: none;
	align-self: flex-end;

}
#arrow-forward {
	align-self: center;
	height:20px;
	width: 20px;
}



