.nav-bar {
	box-sizing: border-box;
    display: flex;
    height: 26px;
    justify-content: space-between;
    position: static; /*sticky*/
}
#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 25%;
}
.space-cosmos a {
	color: black;
	font-size: 14.25px;
	font-weight: 700;
	text-decoration-line: none;
}
.brand-name {
	width: 195px;
	height: 20%;
}
.right-bars .search-icon {
	margin-right: 10px;
}
.top-buttons {

	width: 196px;
}
.top-buttons button {
	border-radius: 3px;
	border: 1px solid #326891;
	cursor: pointer;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
}
.subscribe-now {
	background-color: #6288a5;
	font-size: 10px;
	height: 32px;
	width: 119px;
}
.login {
	background-color: #6288a5;
	font-size: 10px;
	height: 32px;
	width: 63px;
}


